@import './styles/themes/dark.postcss';
@import '@skeletonlabs/skeleton/styles/skeleton.css';

/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}


@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

.wip {
	@apply
	cursor-not-allowed
}